*.pyc
.vscode
.idea
.DS_Store
.nfs*
__pycache__
*.pth
output
build

###########
waymo/load_custom.py
waymo/load_custom2.py
waymo/load_custom3.py
waymo/load_custom4.py
waymo/load_custom5.py
waymo/load_custom6.py
waymo/load_custom7.py
waymo/load_custom8.py
waymo/load_custom9.py
waymo/load_custom10.py
waymo/load_custom11.py
waymo/load_custom12.py
waymo/load_custom13.py
waymo/load_custom14.py
waymo/load_custom15.py
waymo/load_originial_1.py

waymo/run_custom.sh
waymo/run_custom2.sh

utils/create_dynamic_mask_custom.py
utils/create_dynamic_mask_custom2.py
utils/create_dynamic_mask_custom3.py
utils/create_dynamic_mask_custom4.py
utils/create_dynamic_mask_custom5.py
utils/depth_vis.py
utils/merge_depth_ground_custom.py
utils/merge_depth_ground_custom2.py
utils/merge_depth_ground_custom3.py
utils/merge_depth_ground_custom4.py
utils/merge_depth_ground_custom5.py
utils/merge_depth_ground_custom6.py
utils/merge_depth_ground_custom7.py
utils/merge_depth_ground_custom8.py
utils/merge_depth_wo_ground_custom.py
utils/merge_depth_wo_ground_custom2.py
utils/merge_depth_wo_ground_custom3.py
utils/merge_depth_wo_ground_custom4.py
utils/merge_depth_wo_ground_custom5.py
utils/merge_depth_wo_ground_custom6.py
utils/merge_depth_wo_ground_custom7.py
utils/merge_depth_wo_ground_custom8.py
utils/merge_depth_wo_ground_custom9.py
utils/modify_camtoworld_convention.py
samplepoints_in_data/Reconstruction/*
!samplepoints_in_data/Reconstruction/.gitkeep
samplepoints_in_data/car_path/*
!samplepoints_in_data/car_path/.gitkeep
samplepoints_in_data/SceneExportCustom31123_part_0_new_100
samplepoints_in_data/SceneExportCustom311238_part_0
samplepoints_in_data/SceneExportCustom311238_part_0_100_v12
samplepoints_in_data/SceneExportCustom311238_part_0_100_v13
samplepoints_in_data/SceneExportCustom311238_part_0_100_v16
samplepoints_in_data/SceneExportCustom311238_part_0_new
samplepoints_in_data/SceneExportCustom311238_part_0_new_v51
samplepoints_in_data/SceneExportCustom311238_part_0_small_v1
samplepoints_in_data/SceneExportCustom311238_part_0_small_v1_reconv2
samplepoints_in_data/SceneExportCustom311238_part_0_small_v1_reconv4
samplepoints_in_data/SceneExportCustom311279_frame_450_500
samplepoints_in_data/SceneExportCustom311279_part_0
samplepoints_in_data/waymo_data/*
!samplepoints_in_data/waymo_data/.gitkeep